.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 6px;
}

.logo {
    width: 150px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    font-size: 18px;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.search {
    width: 400px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}
.search-btn, .filter-btn {
    padding: 10px;
    margin: 10px;
    color: white;
    background-color: red;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}


.res-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.res-card {
    margin: 10px;
    height: 400px;
    width: 220px;
    padding: 10px;
    border-radius: 5px;
}

.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.res-logo {
    border-radius: 5px;
    width: 100%;
    height: 150px;
    object-fit: cover;
}